<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Amministrazione della copia locale di un Registro</title>
    <script th:src="@{webjars/jquery/3.4.0/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Registro Digitale Contribuito</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Lista dei documenti</h1>
        <h2>
            <span th:text="'Il nome della tua istanza : ' + ${instanceName}"></span>
        </h2>
        <h3><td th:text="${validation} ? 'Il Registro è valido' : 'Il Registro è corrotto'" /></h3>
        <h5><td th:text="${startupTime != null} ? 'Startup realizzato in ' + ${startupTime} : ''" /></h5>
    </div>

    <div style="display: flex; margin: 1em">
        <form th:action="@{/startup}">
            <button class="btn btn-primary" type="submit" style="margin: 0.5em">Aggiornamento della copia (startup)</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titolo del documento</th>
                <th scope="col">Data e ora dell'inserimento</th>
                <th scope="col">Proprietario</th>
                <th scope="col">Identificativo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td scope="row" th:text="${item.document.title}"></td>
                <td scope="row" th:text="${item.timestamp}+' da '+${item.nodeInstanceName}"></td>
                <td scope="row" th:text="${item.owner}"></td>
                <td scope="row" th:text="${item.id}"></td>
            </tr>
        </tbody>
    </table>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
